<div class="ep">
    <form>
        <div class="title">Add new news article</div>
        <div class="form_item">
            <div class="form_item__text">Title</div>
            <input type="text">
        </div>
        <div class="form_item">
            <div class="form_item__text">Category</div>
            <input type="text">
        </div>
        <div class="form_item">
            <div class="form_item__text">Image</div>
            <input type="file">
        </div>
        <div class="form_item">
            <div class="form_item__text">Paragraph1</div>
            <textarea cols="30" rows="10"></textarea>
        </div>
        <div class="form_item">
            <div class="form_item__text">Paragraph2</div>
            <textarea cols="30" rows="10"></textarea>
        </div>
        <div class="form_item">
            <div class="form_item__text">Paragraph3</div>
            <textarea cols="30" rows="10"></textarea>
        </div>
        <button>Ready!</button>
    </form>
</div>