.main {
    height: 100px;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
}
.main p{
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    padding-bottom: 1rem;
}
.main_news__content {
    display: grid;
    grid-gap: 1rem;
    padding-bottom: 2rem;
    overflow: hidden;
}
